.login__container{
  width: 100vw;
  background-image: linear-gradient(to right, $color-bg-1, $color-bg-2);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;

  .login__form {
    background-color: #f2f2f2;
    padding: 3rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input__group {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;


    &>input{
      font-size: 1.2rem;
      width: 20rem;
    }
  }

  .login__btn{
    padding: 0.5rem 1rem;
    font-family: 1.2rem;
  }
}